@model MyFinances.Models.CalendarViewModel

@{
    ViewData["Title"] = "Kalendarz";
}

<h1>Kalendarz Finansów</h1>
<div class="d-flex justify-content-between mb-3">
    <a class="btn btn-primary" href="@Url.Action("Calendar", Model.GetPreviousMonthParams(Model.Year,Model.Month))">Poprzedni miesiąc</a>
    <h2>@Model.Month /@Model.Year</h2>
    <a class="btn btn-primary" href="@Url.Action("Calendar", Model.GetNextMonthParams(Model.Year,Model.Month))">Następny miesiąc</a>
</div>

<table class="table table-bordered text-center" style="min-width:750px">
    <thead>
        <tr>
            <th>Poniedziałek</th>
            <th>Wtorek</th>
            <th>Środa</th>
            <th>Czwartek</th>
            <th>Piątek</th>
            <th>Sobota</th>
            <th>Niedziela</th>
        </tr>
    </thead>
    <tbody>
        @{
            int dayCounter = 0;
            bool SixWeeks = false;
            string textclass = "";
            string divclass = "";
            for (int i = 0; i < 6; i++) // 6 tygodni
            {
                <tr class="p-0">
                    @for (int j = 0; j < 7; j++) // 7 dni
                    {
                        var incomesum = Model.dayIncomeSum[dayCounter];
                        var expensesum = Model.dayExpenseSum[dayCounter];
                        double dailyBalance = incomesum - expensesum;
                        var day = Model.Days[dayCounter++];      
                        if(day.Month == Model.Month)
                        {
                            textclass = "text-dark";
                            divclass = "specialhover";
                        }
                        else
                        {
                            textclass = "text-muted";
                            divclass = "";
                        }
                        if (i == 5 && j == 0 && textclass == "text-dark")
                        {
                            SixWeeks = true;
                        }
                        if(i != 5 || SixWeeks)
                        {
                            <td class="@textclass @divclass p-0 position-relative" style="height: 130px;">

                                <!-- Edition Button -->
                                @if (textclass != "text-muted")
                                {
                                    <div class="position-absolute top-0 end-0 p-0">
                                        <button type="button" class="btn btn-sm btn-outline-secondary border-0 opacity-75 edit-btn"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editModal"
                                                data-day="@day.Date">
                                            ✏
                                        </button>

                                    </div>
                                }

                                <!-- Day and details -->
                                <div class="flex-row d-flex h-60">
                                    <!--Details -->
                                    <div class="flex-column w-100 align-items-center justify-content-center div1" style="margin-top:10px;">
                                        @if (textclass != "text-muted")
                                        {
                                            <label class="text-success">@incomesum</label>
                                            <label class="text-danger">-@expensesum</label>
                                            
                                        }
                                    </div>
                                    <!--Day -->
                                    <div class="d-flex flex-column w-100 h-60 align-items-center justify-content-center" style="margin-top:15px;">
                                        <label class="fs-2">@day.Day</label>
                                    </div>
                                </div>
                                <!-- Work hours and daily balance-->
                                <div class="d-flex flex-column align-items-center h-40">
                                    @if (textclass!= "text-muted")
                                    {
                                        <label>Bilans: @dailyBalance</label>
                                    } 
                                </div>
                                
                            </td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>
<div class="card p-2">
    <div class="text-center w-100">
        <h2>Podsumowanie miesiąca</h2>
    </div>
    <div class="d-flex justify-content-between mb-3">
        @{
            var monthlyExpense = Model.monthlyExpenseSum.Sum();
            var monthlyIncome = Model.monthlyIncomeSum.Sum();
            var monthlybalance = monthlyIncome - monthlyExpense;
        <label class="text-danger fs-5">wydatki: -@monthlyExpense</label>
        <label class="fs-5 @(monthlybalance >= 0 ? "text-success" : "text-danger")">Bilans miesiąca: @monthlybalance</label>
        <label class="text-success fs-5">przychód: @monthlyIncome</label>
    }
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edytuj dzień</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                <input type="hidden" id="hiddenDate"/>
                <button type="button" class="btn btn-danger border-2 choose-btn"
                        data-type="0">
                    Wydatek
                </button>
                <button type="button" class="btn btn-success border-2 choose-btn"
                        data-type="1">
                    Przychód
                </button>
                <h2>Lista przedmiotów</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tytuł</th>
                            <th>Opis</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>
<div id="modalContainer"></div>

@section Scripts {
    <script src="~/js/calendar.js" asp-append-version="true"></script>
}

